body {
  background-image: url('https://i.pinimg.com/736x/07/aa/dc/07aadc6a8b4ccbfbe282f81208cc4755.jpg');
  background-repeat: repeat;
  background-color: ;
  color: ;
  text-align: center;
  align-items: center;
  margin: 0; 
}
img {
  max-width: 100%;
  height: auto;
  }
body {
    text-align: center;
    font-family: 'Fredoka';
}
